<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarLA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__contenedor">
        <div class="header__barra">
          <a href="/">
            <img src="./assets/img/logo.svg" alt="Logo" class="header__logo" />
          </a>
          <nav class="nav">
            <a class="nav__link" href="index.html">Inicio</a>
            <a class="nav__link" href="nosotros.html">Nosotros</a>
            <a class="nav__link" href="blog.html">Blog</a>
            <a class="nav__link" href="tienda.html">Tienda</a>
          </nav>
        </div>
        <!-- BARRA -->
        <div class="modelo">
          <h1 class="modelo__nombre">Modelo VA1</h1>
          <p class="modelo__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ratione
            blanditiis voluptas? Iusto dolores magnam nihil, dolor voluptatibus
          </p>
          <p class="modelo__precio">$5,699</p>
          <a class="modelo__link" href="producto.html">Ver guitarra</a>
        </div>
      </div>
      <picture>
        <source srcset="./assets/img/header_guitarra.avif" type="image/avif" />
        <source srcset="./assets/img/header_guitarra.webp" type="image/webp" />
        <img
          class="header__guitarra"
          loading="lazy"
          width="500"
          height="300"
          src="./assets/img/header_guitarra.png"
          alt="Imagen-Header-Guitarra"
        />
      </picture>
    </header>
    <main class="productos productos__contenedor">
      <h2 class="productos__titulo">Nuestra colección</h2>
      <div class="productos__grid">
        <div class="producto">
          <picture>
            <source srcset="./assets/img/guitarra_04.avif" type="image/avif" />
            <source srcset="./assets/img/guitarra_04.webp" type="image/webp" />
            <img
              class="producto__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/guitarra_04.jpg"
              alt="Imagen-Guitarra"
            />
          </picture>
          <div class="producto__contenido">
            <h3 class="producto__nombre">VA1</h3>
            <p class="producto__descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              placeat, tempora exercitationem beatae aperiam dolore ex
            </p>
            <p class="producto__precio">$3,999</p>
            <a class="producto__link" href="producto.html">Ver guitarra</a>
          </div>
        </div>
        <!-- PRODUCTO -->
        <div class="producto">
          <picture>
            <source srcset="./assets/img/guitarra_05.avif" type="image/avif" />
            <source srcset="./assets/img/guitarra_05.webp" type="image/webp" />
            <img
              class="producto__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/guitarra_05.jpg"
              alt="Imagen-Guitarra"
            />
          </picture>
          <div class="producto__contenido">
            <h3 class="producto__nombre">Thompson</h3>
            <p class="producto__descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              placeat, tempora exercitationem beatae aperiam dolore ex
            </p>
            <p class="producto__precio">$3,999</p>
            <a class="producto__link" href="producto.html">Ver guitarra</a>
          </div>
        </div>
        <!-- PRODUCTO -->
        <div class="producto">
          <picture>
            <source srcset="./assets/img/guitarra_06.avif" type="image/avif" />
            <source srcset="./assets/img/guitarra_06.webp" type="image/webp" />
            <img
              class="producto__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/guitarra_06.jpg"
              alt="Imagen-Guitarra"
            />
          </picture>
          <div class="producto__contenido">
            <h3 class="producto__nombre">White</h3>
            <p class="producto__descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              placeat, tempora exercitationem beatae aperiam dolore ex
            </p>
            <p class="producto__precio">$3,999</p>
            <a class="producto__link" href="producto.html">Ver guitarra</a>
          </div>
        </div>
        <!-- PRODUCTO -->
      </div>
      <!-- PRODUCTOS GRID -->
    </main>
    <section class="cursos">
      <div class="cursos__contenedor cursos__grid">
        <div class="cursos__contenido">
          <h2 class="cursos__titulo">Aprende a tocar guitarra</h2>
          <p class="cursos__texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
            cum reiciendis magnam ex omnis eum dolor consequuntur totam nulla ad
            eaque amet animi sapiente quos exercitationem aspernatur consequatur
            deleniti possimus.
          </p>
          <a href="información.html" class="cursos__link">Más información</a>
        </div>
      </div>
    </section>
    <section class="blog">
      <h2 class="blog__titulo">Nuestro Blog</h2>
      <div class="blog__contenedor blog__grid">
        <article class="entrada">
          <picture>
            <source srcset="./assets/img/blog_1.avif" type="image/avif" />
            <source srcset="./assets/img/blog_1.webp" type="image/webp" />
            <img
              class="entrada__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_1.jpg"
              alt="Imagen-Blog"
            />
          </picture>
          <div class="entrada__contenido">
            <h3 class="entrada__heading">¿Cómo elegir tu primer guitarra?</h3>
            <p class="entrada__fecha">20 Enero 2022</p>
            <p class="entrada__texto">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Officiis, saepe magnam illum harum illo optio, incidunt
              consectetur, minus omnis ducimus ipsa obcaecati nobis explicabo
              delectus. Eligendi praesentium vero ducimus magni.
            </p>
            <a href="entrada.html" class="entrada__link">Leer</a>
          </div>
        </article>
        <article class="entrada">
          <picture>
            <source srcset="./assets/img/blog_2.avif" type="image/avif" />
            <source srcset="./assets/img/blog_2.webp" type="image/webp" />
            <img
              class="entrada__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_2.jpg"
              alt="Imagen-Blog"
            />
          </picture>
          <div class="entrada__contenido">
            <h3 class="entrada__heading">¿Cómo elegir tu primer guitarra?</h3>
            <p class="entrada__fecha">20 Enero 2022</p>
            <p class="entrada__texto">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Officiis, saepe magnam illum harum illo optio, incidunt
              consectetur, minus omnis ducimus ipsa obcaecati nobis explicabo
              delectus. Eligendi praesentium vero ducimus magni.
            </p>
            <a href="entrada.html" class="entrada__link">Leer</a>
          </div>
        </article>
        <article class="entrada">
          <picture>
            <source srcset="./assets/img/blog_3.avif" type="image/avif" />
            <source srcset="./assets/img/blog_3.webp" type="image/webp" />
            <img
              class="entrada__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_3.jpg"
              alt="Imagen-Blog"
            />
          </picture>
          <div class="entrada__contenido">
            <h3 class="entrada__heading">¿Cómo elegir tu primer guitarra?</h3>
            <p class="entrada__fecha">20 Enero 2022</p>
            <p class="entrada__texto">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Officiis, saepe magnam illum harum illo optio, incidunt
              consectetur, minus omnis ducimus ipsa obcaecati nobis explicabo
              delectus. Eligendi praesentium vero ducimus magni.
            </p>
            <a href="entrada.html" class="entrada__link">Leer</a>
          </div>
        </article>
        <article class="entrada">
          <picture>
            <source srcset="./assets/img/blog_4.avif" type="image/avif" />
            <source srcset="./assets/img/blog_4.webp" type="image/webp" />
            <img
              class="entrada__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/blog_4.jpg"
              alt="Imagen-Blog"
            />
          </picture>
          <div class="entrada__contenido">
            <h3 class="entrada__heading">¿Cómo elegir tu primer guitarra?</h3>
            <p class="entrada__fecha">20 Enero 2022</p>
            <p class="entrada__texto">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Officiis, saepe magnam illum harum illo optio, incidunt
              consectetur, minus omnis ducimus ipsa obcaecati nobis explicabo
              delectus. Eligendi praesentium vero ducimus magni.
            </p>
            <a href="entrada.html" class="entrada__link">Leer</a>
          </div>
        </article>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__contenedor footer__grid">
        <nav class="footer__nav">
          <a class="footer__link" href="index.html">Inicio</a>
          <a class="footer__link" href="nosotros.html">Nosotros</a>
          <a class="footer__link" href="blog.html">Blog</a>
          <a class="footer__link" href="tienda.html">Tienda</a>
        </nav>
        <p class="footer__copy">
          Todos los derechos reservadoa GuitarLA &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
