<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarLA | Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__contenedor">
        <div class="header__barra">
          <a href="/">
            <img src="./assets/img/logo.svg" alt="Logo" class="header__logo" />
          </a>
          <nav class="nav">
            <a class="nav__link" href="index.html">Inicio</a>
            <a class="nav__link" href="nosotros.html">Nosotros</a>
            <a class="nav__link" href="blog.html">Blog</a>
            <a class="nav__link" href="tienda.html">Tienda</a>
          </nav>
        </div>
        <!-- BARRA -->
      </div>
    </header>
    <main class="contenedor">
        <div class="producto">
          <picture>
            <source srcset="./assets/img/guitarra_04.avif" type="image/avif" />
            <source srcset="./assets/img/guitarra_04.webp" type="image/webp" />
            <img
              class="producto__imagen"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/guitarra_04.jpg"
              alt="Imagen-Guitarra"
            />
          </picture>
          <div class="producto__contenido">
            <h3 class="producto__nombre">VA1</h3>
            <p class="producto__descripcion">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo
              debitis, porro libero, sunt repellendus distinctio, cumque
              voluptatem accusamus veniam facilis eum quod. Dolore assumenda
              nisi dolor unde odio porro quibusdam?
            </p>
            <p class="producto__precio">$3,999</p>
            <form action="" class="producto__form">
              <label class="producto__label" for=""> Cantidad: </label>
              <select class="producto__cantidad" name="" id="">
                <option value="">--Seleccionar--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <input
                class="producto__agregar-carrito"
                type="submit"
                value="Agregar al carrito"
              />
            </form>
          </div>
        </div>
        <!-- PRODUCTO -->
    </main>
    <footer class="footer">
      <div class="footer__contenedor footer__grid">
        <nav class="footer__nav">
          <a class="footer__link" href="index.html">Inicio</a>
          <a class="footer__link" href="nosotros.html">Nosotros</a>
          <a class="footer__link" href="blog.html">Blog</a>
          <a class="footer__link" href="tienda.html">Tienda</a>
        </nav>
        <p class="footer__copy">
          Todos los derechos reservadoa GuitarLA &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
